<h1>Top#show</h1>

<article>
  <h1>新着コンサート</h1>
  <ul class="recentConcerts">
    <% @concerts.each do |concert| %>
      <%= link_to(concert) do %>
        <li>
          <figure>
            <%= image_tag image_concert_path(concert) %>
            <figcaption>
              <%= concert.title %>
            </figcaption>
          </figure>
        </li>
      <% end %>
    <% end %>
  </ul>
</article>
