<p id="notice"><%= notice %></p>

<% if @reservation.grade.event.lottery && !@reservation.tickets.empty? %>
  当選しました
<% end %>

<% if @reservation.convenience? && @reservation.convenience_password %>
  <p>
    あなたのコンビニシステム用受け取り番号は<b><%= @reservation.convenience_password %></b>です
  </p>
<% end %>
